<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cori">

  <material name="cori_white">
    <color rgba="0.95 0.95 0.95 1.0"/>
  </material>
  
  <material name="cori_head">
    <color rgba="0.85 0.85 1.0 1.0"/>
  </material>

  <link name="base_link">
    <inertial>
      <mass value="30.0"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="2.0" ixy="0.0" ixz="0.0" iyy="2.0" iyz="0.0" izz="2.0"/>
    </inertial>
    <collision>
      <geometry>
        <box size="0.4 0.4 0.05"/>
      </geometry>
    </collision>
  </link>

  <link name="torso">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/juptegraph/Workspaces/Robotics/Projects/CORI/cori_ws/src/cori_description/meshes/cori_body_v1.0/cori_torso.stl" scale="0.35 0.35 0.35"/>
      </geometry>
      <material name="cori_white"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.2 0.12 0.3"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="12.0"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.25"/>
    </inertial>
  </link>

  <joint name="base_to_torso" type="fixed">
    <parent link="base_link"/>
    <child link="torso"/>
    <origin xyz="0 0 0.15" rpy="0 0 0"/>
  </joint>

  <link name="head">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/juptegraph/Workspaces/Robotics/Projects/CORI/cori_ws/src/cori_description/meshes/cori_body_v1.0/cori_head.stl" scale="0.35 0.35 0.35"/>
      </geometry>
      <material name="cori_head"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.12 0.12 0.12"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.8"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.018" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.018"/>
    </inertial>
  </link>

  <joint name="head_joint" type="revolute">
    <parent link="torso"/>
    <child link="head"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>  <!-- Zero distance -->
    <axis xyz="0 0 1"/>
    <limit lower="-1.8" upper="1.8" effort="80" velocity="2.5"/>
    <dynamics damping="1.8" friction="0.9"/>
  </joint>

  <link name="pelvis">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/juptegraph/Workspaces/Robotics/Projects/CORI/cori_ws/src/cori_description/meshes/cori_body_v1.0/cori_pelvis.stl" scale="0.35 0.35 0.35"/>
      </geometry>
      <material name="cori_white"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.18 0.22 0.08"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.5"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.025" ixy="0.0" ixz="0.0" iyy="0.03" iyz="0.0" izz="0.025"/>
    </inertial>
  </link>

  <joint name="torso_to_pelvis" type="fixed">
    <parent link="torso"/>
    <child link="pelvis"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>  <!-- Zero distance -->
  </joint>

  <link name="left_upper_arm">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/juptegraph/Workspaces/Robotics/Projects/CORI/cori_ws/src/cori_description/meshes/cori_body_v1.0/cori_left_upper_arm.stl" scale="0.35 0.35 0.35"/>
      </geometry>
      <material name="cori_white"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.07 0.13"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9"/>
      <origin xyz="0 0 -0.065"/>
      <inertia ixx="0.015" ixy="0.0" ixz="0.0" iyy="0.015" iyz="0.0" izz="0.008"/>
    </inertial>
  </link>

  <joint name="torso_to_left_upper_arm" type="fixed">
    <parent link="torso"/>
    <child link="left_upper_arm"/>
    <!-- Active Testing -->
    <origin xyz="-0.07 0 0" rpy="0 0.15 0"/>  <!-- Zero distance -->
  </joint>

  <link name="left_forearm">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/juptegraph/Workspaces/Robotics/Projects/CORI/cori_ws/src/cori_description/meshes/cori_body_v1.0/cori_left_forearm.stl" scale="0.35 0.35 0.35"/>
      </geometry>
      <material name="cori_white"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.04 0.06 0.11"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.55"/>
      <origin xyz="0 0 -0.055"/>
      <inertia ixx="0.012" ixy="0.0" ixz="0.0" iyy="0.012" iyz="0.0" izz="0.006"/>
    </inertial>
  </link>

  <joint name="left_upper_arm_to_forearm" type="fixed">
    <parent link="left_upper_arm"/>
    <child link="left_forearm"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>  <!-- Zero distance -->
  </joint>

  <link name="left_hand">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/juptegraph/Workspaces/Robotics/Projects/CORI/cori_ws/src/cori_description/meshes/cori_body_v1.0/cori_left_hand.stl" scale="0.35 0.35 0.35"/>
      </geometry>
      <material name="cori_white"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.035 0.07"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.25"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.008" ixy="0.0" ixz="0.0" iyy="0.008" iyz="0.0" izz="0.008"/>
    </inertial>
  </link>

  <joint name="left_forearm_to_hand" type="fixed">
    <parent link="left_forearm"/>
    <child link="left_hand"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>  <!-- Zero distance -->
  </joint>

  <link name="right_upper_arm">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/juptegraph/Workspaces/Robotics/Projects/CORI/cori_ws/src/cori_description/meshes/cori_body_v1.0/cori_right_upper_arm.stl" scale="0.35 0.35 0.35"/>
      </geometry>
      <material name="cori_white"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.07 0.13"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9"/>
      <origin xyz="0 0 -0.065"/>
      <inertia ixx="0.015" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.00"/>
    </inertial>
  </link>

  <joint name="torso_to_right_upper_arm" type="fixed">
    <parent link="torso"/>
    <child link="right_upper_arm"/>
    <!-- Actively Testing -->
    <origin xyz="0.07 0 0" rpy="0 -0.15 0"/>  <!-- Zero distance -->
  </joint>

  <link name="right_forearm">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/juptegraph/Workspaces/Robotics/Projects/CORI/cori_ws/src/cori_description/meshes/cori_body_v1.0/cori_right_forearm.stl" scale="0.35 0.35 0.35"/>
      </geometry>
      <material name="cori_white"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.04 0.06 0.11"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.55"/>
      <origin xyz="0 0 -0.055"/>
      <inertia ixx="0.012" ixy="0.0" ixz="0.0" iyy="0.012" iyz="0.0" izz="0.006"/>
    </inertial>
  </link>

  <joint name="right_upper_arm_to_forearm" type="fixed">
    <parent link="right_upper_arm"/>
    <child link="right_forearm"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>  <!-- Zero distance -->
  </joint>

  <link name="right_hand">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/juptegraph/Workspaces/Robotics/Projects/CORI/cori_ws/src/cori_description/meshes/cori_body_v1.0/cori_right_hand.stl" scale="0.35 0.35 0.35"/>
      </geometry>
      <material name="cori_white"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.035 0.07"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.25"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.008" ixy="0.0" ixz="0.0" iyy="0.008" iyz="0.0" izz="0.008"/>
    </inertial>
  </link>

  <joint name="right_forearm_to_hand" type="fixed">
    <parent link="right_forearm"/>
    <child link="right_hand"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>  <!-- Zero distance -->
  </joint>

  <link name="left_thigh">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/juptegraph/Workspaces/Robotics/Projects/CORI/cori_ws/src/cori_description/meshes/cori_body_v1.0/cori_left_thigh.stl" scale="0.35 0.35 0.35"/>
      </geometry>
      <material name="cori_white"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.07 0.09 0.16"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.8"/>
      <origin xyz="0 0 -0.08"/>
      <inertia ixx="0.035" ixy="0.0" ixz="0.0" iyy="0.035" iyz="0.0" izz="0.018"/>
    </inertial>
  </link>

  <joint name="pelvis_to_left_thigh" type="fixed">
    <parent link="pelvis"/>
    <child link="left_thigh"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>  <!-- Zero distance -->
  </joint>

  <link name="left_shin">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/juptegraph/Workspaces/Robotics/Projects/CORI/cori_ws/src/cori_description/meshes/cori_body_v1.0/cori_left_shin.stl" scale="0.35 0.35 0.35"/>
      </geometry>
      <material name="cori_white"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.055 0.07 0.13"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9"/>
      <origin xyz="0 0 -0.065"/>
      <inertia ixx="0.018" ixy="0.0" ixz="0.0" iyy="0.018" iyz="0.0" izz="0.009"/>
    </inertial>
  </link>

  <joint name="left_thigh_to_shin" type="fixed">
    <parent link="left_thigh"/>
    <child link="left_shin"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>  <!-- Zero distance -->
  </joint>

  <link name="left_knee">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/juptegraph/Workspaces/Robotics/Projects/CORI/cori_ws/src/cori_description/meshes/cori_body_v1.0/cori_left_knee.stl" scale="0.35 0.35 0.35"/>
      </geometry>
      <material name="cori_white"/>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.035"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.25"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.004" ixy="0.0" ixz="0.0" iyy="0.004" iyz="0.0" izz="0.004"/>
    </inertial>
  </link>

  <joint name="left_shin_to_knee" type="fixed">
    <parent link="left_shin"/>
    <child link="left_knee"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>  <!-- Zero distance -->
  </joint>

  <link name="left_foot">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/juptegraph/Workspaces/Robotics/Projects/CORI/cori_ws/src/cori_description/meshes/cori_body_v1.0/cori_left_foot.stl" scale="0.35 0.35 0.35"/>
      </geometry>
      <material name="cori_white"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.11 0.055 0.035"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.008" ixy="0.0" ixz="0.0" iyy="0.012" iyz="0.0" izz="0.008"/>
    </inertial>
  </link>

  <joint name="left_knee_to_foot" type="fixed">
    <parent link="left_knee"/>
    <child link="left_foot"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>  <!-- Zero distance -->
  </joint>

  <link name="right_thigh">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/juptegraph/Workspaces/Robotics/Projects/CORI/cori_ws/src/cori_description/meshes/cori_body_v1.0/cori_right_thigh.stl" scale="0.35 0.35 0.35"/>
      </geometry>
      <material name="cori_white"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.07 0.09 0.16"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.8"/>
      <origin xyz="0 0 -0.08"/>
      <inertia ixx="0.035" ixy="0.0" ixz="0.0" iyy="0.035" iyz="0.0" izz="0.018"/>
    </inertial>
  </link>

  <joint name="pelvis_to_right_thigh" type="fixed">
    <parent link="pelvis"/>
    <child link="right_thigh"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>  <!-- Zero distance -->
  </joint>

  <link name="right_shin">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/juptegraph/Workspaces/Robotics/Projects/CORI/cori_ws/src/cori_description/meshes/cori_body_v1.0/cori_right_shin.stl" scale="0.35 0.35 0.35"/>
      </geometry>
      <material name="cori_white"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.055 0.07 0.13"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.9"/>
      <origin xyz="0 0 -0.065"/>
      <inertia ixx="0.018" ixy="0.0" ixz="0.0" iyy="0.018" iyz="0.0" izz="0.009"/>
    </inertial>
  </link>

  <joint name="right_thigh_to_shin" type="fixed">
    <parent link="right_thigh"/>
    <child link="right_shin"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>  <!-- Zero distance -->
  </joint>

  <link name="right_knee">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/juptegraph/Workspaces/Robotics/Projects/CORI/cori_ws/src/cori_description/meshes/cori_body_v1.0/cori_right_knee.stl" scale="0.35 0.35 0.35"/>
      </geometry>
      <material name="cori_white"/>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.035"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.25"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.004" ixy="0.0" ixz="0.0" iyy="0.004" iyz="0.0" izz="0.004"/>
    </inertial>
  </link>

  <joint name="right_shin_to_knee" type="fixed">
    <parent link="right_shin"/>
    <child link="right_knee"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>  <!-- Zero distance -->
  </joint>

  <link name="right_foot">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/juptegraph/Workspaces/Robotics/Projects/CORI/cori_ws/src/cori_description/meshes/cori_body_v1.0/cori_right_foot.stl" scale="0.35 0.35 0.35"/>
      </geometry>
      <material name="cori_white"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.11 0.055 0.035"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.7"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.008" ixy="0.0" ixz="0.0" iyy="0.012" iyz="0.0" izz="0.008"/>
    </inertial>
  </link>

  <joint name="right_knee_to_foot" type="fixed">
    <parent link="right_knee"/>
    <child link="right_foot"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>  <!-- Zero distance -->
  </joint>

  <gazebo reference="base_link">
    <static>false</static>
    <gravity>true</gravity>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="torso">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="head">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo>
    <plugin filename="ignition-gazebo-joint-position-controller-system" name="ignition::gazebo::systems::JointPositionController">
      <joint_name>head_joint</joint_name>
      <topic>/model/cori/joint/head_joint/cmd_pos</topic>
      <p_gain>2500</p_gain>
      <i_gain>250</i_gain>
      <d_gain>75</d_gain>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin filename="ignition-gazebo-joint-state-publisher-system" name="ignition::gazebo::systems::JointStatePublisher">
      <joint_name>head_joint</joint_name>
      <topic>joint_states</topic>
    </plugin>
  </gazebo>

</robot>